# ansible-role-sssh - Role for configuring your sshd according to https://stribika.github.io/2015/01/04/secure-secure-shell.html
#
# Copyright (C) 2018  Markus Mahlberg <markus.mahlberg@icloud.com>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
---
# tasks file for ansible-role-sssh


- import_tasks: savemoduli.yml
  tags: moduli
  when: sssh_moduli_generate and "diffie-hellman-group-exchange-sha256" in sssh_kex_algorithms

# https://bugs.launchpad.net/ubuntu/+source/openssh/+bug/45234
- name: Ensure privilege separation directory is present
  file:
    path: /run/sshd
    owner: root
    group: root
    mode: 0755
    state: directory
  when: ansible_os_family == 'Debian'

- import_tasks: server_keys.yml

- name: Limit to protocol version 2
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^\s*Protocol.*'
    line: 'Protocol 2'
    validate: "/usr/sbin/sshd -t -f %s"
  notify: restart sshd

- name: Enable Public Key Authentication
  lineinfile:
    path: /etc/ssh/sshd_config
    line: 'PubkeyAuthentication yes'
    state: present
  notify: restart sshd

- name: Limit Key Exchange algorithms
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?KexAlgorithms .*'
    line: "KexAlgorithms {{ sssh_kex_algorithms|join(',') }}"
    validate: "/usr/sbin/sshd -t -f %s"
  notify: restart sshd

- name: Limit Ciphers
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^#?Ciphers .*"
    line: "Ciphers {{ sssh_ciphers|join(',') }}"
    validate: "/usr/sbin/sshd -t -f %s"
  notify: restart sshd

- name: Limit Message Authentication Codes
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^#?MACs .*"
    line: "MACs {{ sssh_macs|join(',') }}"
    validate: "/usr/sbin/sshd -t -f %s"
  notify: restart sshd

- name: Disable password based authentication
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^\s*PasswordAuthentication'
    line: 'PasswordAuthentication no'
    state: present
  notify: restart sshd

- name: Disable Challenge Response Authentication
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^\s*ChallengeResponseAuthentication\s*yes'
    state: absent
  notify: restart sshd
